# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

LANG=en_US.UTF-8

# history settings
HISTSIZE=5000
HISTFILE=~/.zsh_history
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory
setopt sharehistory
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups


## Zinit (Zsh plugin manager) installation and setup
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"

if [ ! -d "$ZINIT_HOME" ]; then
	mkdir -p "$(dirname $ZINIT_HOME)"
	git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

source "${ZINIT_HOME}/zinit.zsh"

zinit ice depth=1; zinit light romkatv/powerlevel10k

zinit light zsh-users/zsh-syntax-highlighting


#### Zsh completions
# https://thevaluable.dev/zsh-completion-guide-examples/
zinit light zsh-users/zsh-completions

# Handle some custom completions
local COMP_DIR="$ZSH_CACHE_DIR/completions"
if [[ ! -d "$COMP_DIR" ]]; then
	mkdir -p "$COMP_DIR" 
fi
fpath=( "$COMP_DIR" "${fpath[@]}" )

## github cli completion
if command -v gh &> /dev/null && [[ ! -f "$COMP_DIR/_gh" ]]; then
	gh completion --shell zsh > "$COMP_DIR/_gh"
fi

autoload -U compinit && compinit -u
zinit cdreplay -q

zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s/:/)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'
zstyle ':fzf-tab:complete:__zoxide_z:*' fzf-preview 'ls --color $realpath'


zinit light Aloxaf/fzf-tab


zinit light zsh-users/zsh-autosuggestions
bindkey -e
bindkey '^y' autosuggest-accept
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward


zinit snippet OMZP::git
zinit snippet OMZP::sudo
zinit snippet OMZP::command-not-found
zinit snippet OMZP::dotenv


# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
fi

alias ls='ls --color'
alias la='ls -al'

alias vim=nvim
alias vi=nvim
export EDITOR=nvim

alias cm=chezmoi


hgrep() { fc -Dlim "*$@*" 1; }


## Change directory hook
typeset -gU chpwd_functions

# run ls -al after changing current directory
my_chpwd_hook() { pwd; ls -a; }
chpwd_functions+=( my_chpwd_hook )


## zoxide setup
if command -v zoxide &> /dev/null; then
    eval "$(zoxide init --cmd cd zsh)"
fi


## Google Cloud SDK
if [ -f /opt/homebrew/share/google-cloud-sdk/completion.zsh.inc ]; then
    source /opt/homebrew/share/google-cloud-sdk/completion.zsh.inc
fi

if [ -f /opt/homebrew/share/google-cloud-sdk/path.zsh.inc ]; then
    source /opt/homebrew/share/google-cloud-sdk/path.zsh.inc
fi

alias gcp-set="gcloud config configurations activate"
alias gcp-what="gcloud config list"
alias gcp-list="gcloud config configurations list"

{{- if .is_wsl }}
export GIT_SSH_COMMAND="ssh.exe"
{{- end }}

# if .zshrc.local exists, source it
if [ -f ~/.zshrc.local ]; then
    source ~/.zshrc.local
fi
